.payment {
  display: flex;
  flex-direction: column;
}
.payment-row {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
  border: thin;
  background-color: #ff0000;
  color: white;
  margin-bottom: 5px;
  max-height: 5%;
}
.payment-row:nth-of-type(even) {
  background-color: #d29e16;
}
