.button {
  font: inherit;
  padding: 0.5rem 1rem;
  border: 1px solid #4555e6;
  color: white;
  background: #4555e6;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #7482ff;
  border-color: #7482ff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}
